.fixed-container {
    max-width: 500px;
    /* background: #f7f7f7; */
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.weather-icon {
    font-size: 30px;

}

.current-tempreture {}

.weather-situation {
    font-size: small;
}

.todays-forcast {
    position: relative;
    top: 0;
    left: 0;
}

.observations {
    position: absolute;
    right: 0;
    top: 0;
}

.observations p {
    max-height: 5px;
    font-size: small;
}

.next-days-title {}

.next-days-tempreture {}