body {
    background: linear-gradient(89.9deg, rgb(208, 246, 255) 0.1%, rgb(255, 237, 237) 47.9%, rgb(255, 255, 231) 100.2%);
}

.fixed-container {
    max-width: 600px;
    background: #fff;
    padding: 30px 30px;
    margin-top: 40px;
    border-radius: 15px;
}

.weather-icon {
    font-size: 30px;

}

.current-tempreture {}

.weather-situation {
    font-size: small;
}

.todays-forcast {
    position: relative;
    top: 0;
    left: 0;
}

.observations {
    position: absolute;
    right: 0;
    top: 0;
}

.observations p {
    max-height: 5px;
    font-size: small;
}

.next-days-title {}

.next-days-tempreture {}